# Json string to Dataframe

In [3]:
import numpy as np
import pandas as pd
import json
import ast

In [4]:
df = pd.read_parquet('data/feats.parquet')
df

,true_false,one_hot,dates,floats,max_of_list,nunique_of_list,desc_stats,multi_label,random_col,other
0,None,green,2022-05-29,8.5,"5,9","apple,apple,grapefruit","6,2,8,0",None,7.0,3
1,true,purple,2022-03-19,5.0,5,"3,5,9,4","8,2,5","grape,apple,pineapple,blueberry,strawberry",NaN,3
2,false,None,2022-09-25,6.0,"4,7",orange,"0,6,3,3,0","blueberry,blueberry,blueberry,pineapple,grape",7.0,4
3,1,purple,2022-03-06,9.0,"8,4","blueberry,grapefruit,apple",None,"pineapple,apple,apple,apple,apple,grapefruit",2.0,3
4,false,None,2022-06-21,5.0,"0,4,0,5,5,1",0,"2,9,1,2,8","orange,orange,grapefruit,blueberry",9.0,0
...,...,...,...,...,...,...,...,...,...,...
9995,1,blue,2022-07-13,2.5,9,"6,3,3,8,5","3,2,2,3,0","grapefruit,pineapple",NaN,3
9996,0,blue,2022-10-07,2.0,6,"grape,blueberry,grape","2,2","grapefruit,strawberry,pineapple,apple,blueberry",7.0,1
9997,None,red,2022-10-13,1.0,"3,8,9,5,8","6,2,8,2,0","7,6,1,8,1",orange,1.0,1
9998,0,red,2022-01-24,9.0,7,"orange,blueberry,apple,apple",None,"pineapple,grapefruit,orange,strawberry,grapefr...",4.0,2
9999,0,green,2022-05-11,4.0,"6,0,3,5","6,0,7","5,7","orange,strawberry,apple,apple,apple",9.0,3

In [5]:
payload = df.iloc[0,:].to_json()
payload

'{"true_false":null,"one_hot":"green","dates":1653782400000,"floats":8.5,"max_of_list":"5,9","nunique_of_list":"apple,apple,grapefruit","desc_stats":"6,2,8,0","multi_label":null,"random_col":7.0,"other":3}'

In [6]:
json.loads(payload)

{'true_false': None,
 'one_hot': 'green',
 'dates': 1653782400000,
 'floats': 8.5,
 'max_of_list': '5,9',
 'nunique_of_list': 'apple,apple,grapefruit',
 'desc_stats': '6,2,8,0',
 'multi_label': None,
 'random_col': 7.0,
 'other': 3}

In [7]:
json_data = json.loads(payload)
type(json_data)

dict

## Straight to DF

In [8]:
pd.DataFrame(json_data, index=[0,])

,true_false,one_hot,dates,floats,max_of_list,nunique_of_list,desc_stats,multi_label,random_col,other
0,None,green,1653782400000,8.5,"5,9","apple,apple,grapefruit","6,2,8,0",None,7.0,3

## Turn values into lists

In [9]:
json_dict = {}
for i, val in enumerate(json_data.keys()):
    json_dict[val] = [json_data[val]]
json_dict

{'true_false': [None],
 'one_hot': ['green'],
 'dates': [1653782400000],
 'floats': [8.5],
 'max_of_list': ['5,9'],
 'nunique_of_list': ['apple,apple,grapefruit'],
 'desc_stats': ['6,2,8,0'],
 'multi_label': [None],
 'random_col': [7.0],
 'other': [3]}

In [10]:
pd.DataFrame(json_dict)

,true_false,one_hot,dates,floats,max_of_list,nunique_of_list,desc_stats,multi_label,random_col,other
0,None,green,1653782400000,8.5,"5,9","apple,apple,grapefruit","6,2,8,0",None,7.0,3

## From records

In [11]:
pd.DataFrame.from_records(json_data, index=[0,])

,dates,desc_stats,floats,max_of_list,multi_label,nunique_of_list,one_hot,other,random_col,true_false
0,1653782400000,"6,2,8,0",8.5,"5,9",None,"apple,apple,grapefruit",green,3,7.0,None